/* @if NODE_ENV=='dev' */
#flexBox
    display: flex;
    width: 200px;
    height: 200px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    p
        margin: 6px;
        color: blue;
        font: normal 24px PingFang SC Regular;
/* @endif */