body {
    background:url(../images/bg.jpg);
}
/*body a {
    color: #eee;
    line-height: 14px;
}*/
#flexBox{
    display: flex;
    flex-direction: column;
    align-content: center;       
}
#flexBox>p,#result {
	font-size: 0.5rem;    
    background-color: #eee;
    opacity: 0.55;
    padding:0.2rem;
    margin: 0.1rem;
    border-radius:0.2rem;
}
#result{
    height: 7.8rem;
}